h1{
   color: darkviolet;
   font-family:kristen ITC;
   text-align: center;
}
body{
 background-color: darksalmon;
}
p{
   color:aliceblue;
   text-align: center;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
