h1{
   text-align: center;
   font-family: cursive;
   color:khaki;
}
body{
   background-color:coral;
}
table{
   background-color:palegoldenrod;
   align-content: center;
   border: 3px solid purple;
   padding: 30px;
   border-radius: 30px;
   border-spacing: 6px;
   text-align: center;
}
td{
   padding: 10px;
}